<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zakariyya.security01.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.zakariyya.security01.domain.Menu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="menuType" column="menu_type" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,menu_name,
        path,sort,perms,
        menu_type,icon,deleted,
        create_time,update_time
    </sql>
    <select id="getPermissionsByRoleIds" resultType="com.zakariyya.security01.domain.Menu">
        select ums_menu.id,
               ums_menu.parent_id,
               ums_menu.menu_name,
               ums_menu.path,
               ums_menu.sort,
               ums_menu.perms,
               ums_menu.menu_type,
               ums_menu.icon,
               ums_menu.deleted,
               ums_menu.create_time,
               ums_menu.update_time
        from ums_role
        right join ums_role_menu on ums_role.role_id = ums_role_menu.role_id
        right join ums_menu on ums_role_menu.menu_id = ums_menu.id
        where ums_role.role_id in
        <foreach collection="roleIdList" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>;
    </select>
</mapper>
