<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zakariyya.security01.mapper.SysUserMapper">

    <resultMap id="UserResultMap" type="com.zakariyya.security01.domain.SysUser">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updater" column="updater" jdbcType="BIGINT"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="TINYINT"/>
        <collection property="roleSet" resultMap="RoleResultMap"/>
    </resultMap>

    <resultMap id="RoleResultMap" type="com.zakariyya.security01.domain.Role">
        <id     column="role_id" property="roleId"/>
        <result column="role_label" property="roleLabel"/>
        <result column="role_name" property="roleName"/>
        <result column="sort" property="sort"/>
        <result column="status" property="status"/>
        <result column="deleted" property="deleted"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getUsersByUsername" resultMap="UserResultMap">
        select
            user.id,
            user.username,
            user.nickname,
            user.email,
            user.mobile,
            user.sex,
            user.avatar,
            user.password,
            user.status,
            user.creator,
            user.create_time,
            user.updater,
            user.update_time,
            user.remark,
            user.deleted,
            role.role_id,
            role.role_label,
            role.role_name,
            role.sort,
            role.status,
            role.deleted,
            role.remark,
            role.create_time,
            role.update_time
        from ums_sys_user as user
                 left join ums_sys_user_role on user.id = ums_sys_user_role.user_id
                 left join ums_role as role on ums_sys_user_role.role_id = role.role_id
        where user.username = #{username}
          and role.deleted = 0
          and user.deleted = 0;
    </select>
</mapper>
